// Define variables for your color scheme

// For example:
$red: #ee706e;
$blue: #425175;
$yellow: #f9d660;
$orange: #E67E22;
$green: #32B796;
$gray: #B6C4BF;
$light-gray: #F5F5F5;
$mint: #c7ddd8;
$pink: #FFB5B5

