
// ------ Chat Show (Messages & Chats) ------ //

.chat--window {
  display: flex;
  height: calc(100vh - 113.5px) !important;
  justify-content: space-between;
}


.all-chats {
  max-width: 25%;
  min-width: 25%;
  overflow: scroll;
}

button {
  background-color: transparent;
  border: none;
}

.fa-share-square {
  font-size: 24px;
  color: $red;
}


// ------ Chats ------ //

.chat-open {
  border-right: 1px solid $blue;
}

.chat-wrapper {
  position: relative;
  border-bottom: 1px solid $blue;
  padding-left: 15px;
}

.chat-menu-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  // border-radius: px;
  background: $light-gray;
  margin: 10px;
  overflow: hidden;
}

.chat-menu-pic {
  border: 2px solid $blue;
  border-radius: 2px;
  margin: 10px;
  z-index: 1;
}

.chat-menu {
  line-height: 50%;
  color: $blue;
  font-size: 14px;
  text-decoration: none;
}

.chat-link {
  height: 100%;
  width: 100%;
  position: absolute;
}


// ------ Message Box ------ //

.messages {
  margin-top: 35px;
  height: 80vh;
  padding: 0 15px;
  position: relative;
  width: 100%;
  // overflow: hidden;
  // z-index: -1;
}

// .active-messages {
//   overflow: scroll;
//   height: 80vh;
// }

.message-box {
  display: flex;
  align-items: center;
  opacity: .9;
  color: $light-gray;
  // position: relative;
  min-width: 75%;
  max-width: 75%;
  margin-bottom: 20px;
  height: 75px;
  background-color: $blue;
}

.message-box.other {
  border-radius: 5px;
  background: $mint;
  color: $blue;
  float: right;
  border-radius: 5px 5px 0px 5px;
}

.chat_appointment{
  display: flex;
  flex-flow: row wrap;
  max-width: 75%;
  align-items: center;
  margin: auto;
  border: solid 2px $blue;
  padding: 15px;
}

.appointment-button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.message-pic {
  border: 2px solid $light-gray;
  border-radius: 2px;
  margin: 10px;
}

.message-body {
  font-size: 14px;
}

.message-send {
  justify-content: center;
  display: flex;
  align-items: flex-end;
  min-width: 40%;
}

// ------ Chat Profile ------ //

.chat-profile {
  background-color: $blue;
  margin-bottom: -3px;
  max-width: 25%;
  min-width: 25%;
  flex-grow: 1;
}

.chat-profile-picture img {
  border-radius: 50%;
  margin-top: 35px;
  padding-top: 15px
}

.chat-profile-name {
  color: $light-gray;
  padding: 0 15px;
}

.messages--content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-height: 65vh;
  overflow: scroll;
}

.chat-title p{
  margin: 0;
  text-align: center;
  background-color: $red;
  padding: 15px 10px;
}
.message-form--input {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

