// ------ Chat Show (Messages & Chats) ------ //

.chat-show-header {
  background: rgb(66,81,117);
  background: linear-gradient(90deg, rgba(66,81,117,0.7987570028011204) 0%, rgba(66,81,117,1) 50%, rgba(66,81,117,0.8015581232492998) 100%);
  color: $light-gray;
}

.message-show-header {
  background: rgb(199,221,216);
  background: linear-gradient(90deg, rgba(199,221,216,0.8015581232492998) 0%, rgba(199,221,216,1) 50%, rgba(199,221,216,0.804359243697479) 100%);
  color: $blue;
}

.chat-show-header, .message-show-header {
  margin-top: 0;
  border-radius: 5px;
  padding: 10px;
  font-weight: lighter;
}

.messages--content {
  overflow: scroll;
  height: 60vh;
}

// ---//--- Bottom (send messages) ---//--- //

.message-send {
display:flex;
}

// ------ Chats ------ //

.chat-menu-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background: $light-gray;
  border: 2px solid $blue;
  margin: 10px;
}

.chat-menu-pic {
  border: 2px solid $blue;
  border-radius: 2px;
  margin: 10px;
}

.chat-menu {
  line-height: 50%;
  color: $blue;
  font-size: 14px;
  text-decoration: none;
}


// ------ Message Box ------ //

.message-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background: $blue;
  opacity: .9;
  margin: 10px;
  color: $light-gray;
}
.message-box.other{
  border-radius: 5px;
  background: $mint;
  // border: 2px solid $light-gray;
  color: $blue;
}

.message-pic {
  border: 2px solid $light-gray;
  border-radius: 2px;
  margin: 10px;
}

.message-body {
  // line-height: 50%;

  font-size: 14px;
  // overflow: scroll;
}


