// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  color: $blue;
}

a{
  text-decoration: none !important;
}

.banner{
 background-image: url('https://res.cloudinary.com/mrcocktailbaron/image/upload/v1551260071/home.png');
 height: calc(100vh - 60px);
 background-size: cover;
 background-position: center;
 object-fit: cover;
 color: white;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}


.banner h1{
  margin-top: -100px;
  color: $red;
  font-size: 65px;
  font-weight: bold;
}

.banner h2{
  color: $blue;
  font-size: 24px;
  font-weight: bolder;

}

.banner .form-control{
  font-size: 18px;
  width: 300px;
    background-color: $light-gray;
  border-bottom-color: $blue;
  border-width: 0px 0px 2px 0px;
  border-radius: 0px;
  padding: 0px 40px;
  font-size: 30px;
  margin: 30px 0px;
  font-weight: lighter;
  -webkit-box-shadow: inset 0 0 0px 9999px $light-gray;
  -webkit-text-fill-color: $blue;
}
#geolocate {
  // -webkit-appearance: none;
  background-color: $light-gray;
  border: 0;
  font-size: 25px;
  color: $blue;

}

#home-search {
 -webkit-text-fill-color: $blue;
 font-size: 20px;
}

.search-form p {
  color: $blue;
  font-weight: lighter;
  font-size: 20px;
}



// ------ About Us Cards ------ //

$light:  $red;
$text-color: $blue;
$cta: $red;

// Styles  //


.about-background {
  background: rgb(246,246,246);
  background: linear-gradient(180deg, rgba(246,246,246,1) 50%, rgba(226,226,226,1) 100%);
  font-size: 10px;
  padding: 2em;
  height: 100vh
}

// General content  //
.title {
  font-weight: 100;
  align-items: center;
}
.divider {
  border-bottom: 1px solid $light;
}

.divider-large {
  border-bottom: 1px solid $text-color;
}


// cards //


.cards {
  background: $light-gray;
  border-radius: 3px;
  cursor: pointer;
  height: 18em;
  padding: 1.5em;
  transition: height 0.4s, box-shadow 0.5s;

  &:hover {
    box-shadow: 0 0 2em #999;
    height: 34em;
    transition: height 0.3s ease, box-shadow 0.5s ease;

    .divider {
      opacity: 0.5;
    }

    .info {
      transition: top 0.5s ease, opacity 1s ease;
      visibility: visible;
      top: 1%;
      opacity: 1;
      .divider {
        opacity: 1;
      }
    }
    .icon {
      font-size: 2em;
      left: 45%;
      transition: font-size .3s, left .3s;
    }
  }

  .info {
    visibility: hidden;
    top: -50%;
    opacity: 0;
  }

  .icon {
    color: $light;
    font-size: 4em;
    text-align: center;
    padding: 0em;
    // position: relative;
    left: 43%;
    top: 0em;
    transition: font-size .3s ease, left .3s ease;
  }

  .title {
    color: $text-color;
    text-align: center;
    font-weight: 300;
  }
  .lead {
    color: $text-color;
    font-weight: 100;
    font-size: 2em;
    text-align: center;
    hyphens: auto;
  }
  .btn {
    color: $cta;
    border: 1px solid $cta;
    border-radius: 3px;
    transition: color 0.3s, background 0.3s;
    &:hover {
      background: $cta;
      color: #fff;
      transition: background 0.5s ease;
    }
  }
}

// ------ Teacher Cards ------ //

.teacher-background {
  font-size: 10px;
  padding: 5em;
  height: calc(100vh - 60px);
}

.divider-red {
  border-bottom: 1px solid $red;
}

.title-red {
  color: $red;
  text-align: center;
  font-weight: 300;
  }

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
    margin: 5px;
    // padding: 5px;
  }
}


.scrolling-wrapper, .scrolling-wrapper-flexbox {
  // height: 200px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.home-card-img {
  border-radius: 5px;
  border: 10px solid white;
  background: rgb(246,246,246);
  background: linear-gradient(180deg, rgba(246,246,246,1) 0%, rgba(226,226,226,0.24273459383753504) 100%);
}

