// Import page-specific CSS files here.
@import "home";
@import "reviews";
@import "show";
@import "chats";
@import "my_appointments";

.banner-teachers{
  background-image: url('https://images.unsplash.com/photo-1528984063924-226bc3e4be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80');
  height: 50vh;
  background-position: center;
  text-align: center;
}

.banner-teachers select, input{
  background-color: transparent;
}

.banner-details{
  padding-top: 25px;
}

.my-card{
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 230px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 30px;
  margin-right: 20px;
}

.card-img {
  margin-bottom: 15px;
}

#map{
  height: calc(100vh - 60px);
  flex: 0 0 600px;
  position: sticky !important;
  margin-top: 25px;
  top: 0;
  // top: 0 !important;

}

.mapboxgl-canvas{
  position: sticky !important;
  position: fixed;
}

.map-wrapper {
  display: flex;
  justify-content: space-around;
  margin: auto 60px;

}

.map-cards {
  padding: 0 15px;
  flex-grow: 1;
  margin-top: 25px;
}

.search-bar{
  margin: auto 60px;
}
