<% if current_user.id != appointment.organizer_id %>
  <div>
    <div class="student-hours" data-toggle="tooltip" data-placement="top" title = <%= "#{appointment.start_time.to_s(:time)}"%> >
    <p><%= link_to "#{appointment.organizer.first_name} #{appointment.organizer.last_name} #{appointment.status}", user_url(appointment.organizer) %></p>
  </div>
<% else %>
  <div class="teacher-hours" data-toggle="tooltip" data-placement="top" title = <%= "#{appointment.start_time.to_s(:time)}"%> >
  <p><%= link_to "#{appointment.guest.first_name} #{appointment.guest.last_name} #{appointment.status}", user_url(appointment.guest) %></p>
<% end %>
