.form-heading {
  margin: 100px 0px 30px 0px;
}

select, input {
  // -webkit-appearance: none;
  background-color: $light-gray;
  border-bottom-color: $blue;
  border-width: 0px 0px 2px 0px;
  border-radius: 0px;
  padding: 0px 40px;
  font-size: 30px;
  margin: 30px 0px;
  font-weight: lighter;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px $light-gray;
  -webkit-text-fill-color: $blue;
}

#teacher_picture {
  font-size: 18px;
  text-align: center;
}

label.file.optional {
  font-size: 30px;
  font-weight: lighter;
}

#cbgrid {
  display: grid;
  justify-content: space-evenly;
  margin: auto;
  grid-template-columns: 0px 140px 0px 140px 0px 140px 0px 140px;
}

label {
  font-size: 24px;
  font-weight: lighter;
}

// #appointment_start_time, #appointment_end_time {
  // -webkit-appearance: none;
//   background-color: $light-gray;
//   border-bottom-color: $blue;
//   border-width: 0px 0px 2px 0px;
//   border-radius: 0px;
//   padding: 0px 40px;
//   font-size: 30px;
//   margin: 30px 0px;
//   font-weight: lighter;
// }

// #appointment_start_time, #appointment_end_time {
//   -webkit-box-shadow: inset 0 0 0px 9999px $light-gray;
//   -webkit-text-fill-color: $blue;
// }

.placeholder {
  font-size: 18px;
}

.form-control {
  background-color: $light-gray;
  border-bottom-color: $blue;
  border-width: 0px 0px 2px 0px;
  border-radius: 0px;
  padding: 0px 40px;
  font-size: 30px;
  margin: 30px 0px;
  font-weight: lighter;
}

.form-control {
  -webkit-box-shadow: inset 0 0 0px 9999px $light-gray;
  -webkit-text-fill-color: $blue;
}

