<footer>
  <div class="flex-container">
    <div class="logo-footer">
      <%= image_tag "logo2.png", height: 50 %>
    </div>
    <div class="follow-us">
      <p>follow us</p>
      <ul class="list-inline footer-list">
        <a href="https://www.facebook.com">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/_eldershareaskill_/">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/a_elder">
          <i class="fab fa-twitter"></i>
        </a>
      </ul>
    </div>
  </div>
</footer>
