<div class="container">
<h1> Your Chats</h1>
  <% if @chats.where(sender_id: current_user.id).present? %>
    <%= render @chats %>
  <% else %>
    <p>You have no chats started at this time!</p>
  <% end %>
</div>
