<!-- Pulls from Chat html -->

<div class="panel panel-default">
  <div class="chat-show-header">
    <h1 class="text-center">Your Chat Dashboard</h1>
    <div class="panel-body">
      <%= render partial: 'chats/chat', collection: @chats, locals: { user: current_user } %>
    </div>
  </div>
</div>

