<div class="banner">
  <div class="titles">
    <h1>Elder Share-a-Skill</h1>
    <h2>Some Clever Slogan Here</h2>
  </div>
  <div class="search-form">
    <%= form_tag teachers_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control text-center",
      placeholder: "Search for a skill",
      autocomplete:"off"
    %>
    <% end %>
    <button id="geolocate" class="fas fa-map-pin"></button>
  </div>
</div>


<!-- About Us Cards -->

<div class="wrapper about-background">
  <div class="container">
    <h1 class="text-center title"> About Us </h1>
    <div class="section row">
      <div class="hr col-xs-8 col-xs-offset-2">
        <p class= "lead text-center">
          Our site pairs retirees who have valuable skills to share, with young students who'd like to build a meaningful relationship with their teacher.
        </p>
        <hr class="divider-large">
      </div>
    </div>
    <div class="row">
      <div class="article col-xs-4">
        <div class="cards">
          <span class="glyphicon glyphicon-apple icon"></span>
          <hr class="divider">
          <h2 class="title"> Our Teachers</h2>
          <div class="info">
            <hr class="divider">
            <p class="lead">
              Our teacher community has a variety of skills to offer; their life experience allows for a unique approach to the lessons they teach.
            </p>
          </div>
        </div>
      </div>
      <div class="article col-xs-4">
        <div class="cards">
          <span class="glyphicon glyphicon-bookmark icon"></span>
          <hr class="divider">
          <h2 class="title">Our Services</h2>
          <div class="info">
            <hr class="divider">
            <p class="lead">
              Our unique concept facilitates meaningful and mutually beneficial relationships; we believe this service should always be free.
            </p>
          </div>
        </div>
      </div>
      <div class="article col-xs-4">
        <div class="cards">
          <span class="glyphicon glyphicon-education icon"></span>
          <hr class="divider">
          <h2 class="title"> Our Students </h2>
          <div class="info">
            <hr class="divider">
            <p class="lead">
              Our students are typically motivated individuals looking for ways to grow their knowledge base while providing companionship to the elderly community.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Top Teachers -->


<div class="wrapper teacher-background">
  <div class="container">
    <h1 class="text-center title-red"> Take a Scroll </h1>
    <div class="hr col-xs-8 col-xs-offset-2">
      <p class= "lead text-center">
        Checkout out our extensive list of smiling teachers, eager to assist you in achieving your personal goals!
      </p>
      <hr class="divider-red">
    </div>
    <div class="scrolling-wrapper-flexbox">
      <% @teachers.each do |teacher| %>
        <div class="card">
          <div class="home-card-img">
            <% if teacher.picture.present? %>
              <%= link_to teachers_path do %>
                <%=  cl_image_tag teacher.picture, width: 200, height: 200, :crop=>"fill" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

