<h1>All Teachers</h1>

<% @teachers.each do |teacher| %>
  <li>
    <strong><%= link_to "#{teacher.first_name} #{teacher.last_name}", teacher_path(teacher.id)%></strong>
    <% teacher.skills.each do |skill| %>
      <p>Skills: <%= skill.subject.name %> - <%= skill.name %></p>
    <% end %>
  </li>
<% end %>
