.btn-primary {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
}

.btn-danger {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
}

.elder-button {
  border-radius: 10px;
  padding: 6px 30px;
  border-radius: 10px;
  color: white;
  background-color: $blue;
}


