.elder-button-blue {
  border-radius: 10px;
  padding: 8px 30px;
  border-radius: 10px;
  color: white;
  background-color: $blue;
  transition: background 0.3s ease;
  text-decoration: none;
}

.elder-button-blue:hover {
  background: $light-gray;
  color: $blue;
  border: 1px solid $blue;
  text-decoration: none;
}

.elder-button-red {
  border-radius: 10px;
  padding: 8px 30px;
  border-radius: 10px;
  color: white;
  background-color: $red;
  transition: background 0.3s ease;
  text-decoration: none;
}

.elder-button-red:hover {
  background: $light-gray;
  color: $red;
  border: 1px solid $red;
  text-decoration: none;
}

.elder-button-mint {
  border-radius: 10px;
  padding: 8px 30px;
  border-radius: 10px;
  color: white;
  background-color: $mint;
  transition: background 0.3s ease;
  text-decoration: none;
}

.elder-button-mint:hover {
  background: $light-gray;
  color: $mint;
  border: 1px solid $mint;
  text-decoration: none;
}
