.btn-primary {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
}

.btn-danger {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
}

.elder-button-blue {
  border-radius: 10px;
  padding: 8px 30px;
  border-radius: 10px;
  color: white;
  background-color: $blue;
  transition: background 0.3s ease;
  text-decoration: none;
}

.elder-button-blue:hover {
  background: $light-gray;
  color: $blue;
  border: 1px solid $blue;
  text-decoration: none;
}
