<div class="container text-center">
  <h1 class="form-heading">What is your first name?</h1>
  <%= form_for @user, url: wizard_path, method: :put do |f| %>
  <div class="row align-items-center">
    <div class="col-xl-6 offset-xl-3">
      <%= f.text_field :first_name, class: "text-center" %>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xl-6 offset-xl-3">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>
