<div class="container text-center">
  <h1 class="form-heading">Upload a profile image</h1>
  <%= simple_form_for @user, url: wizard_path, method: :put do |f| %>
  <div class="row align-items-center">
    <div class="col-xl-6 offset-xl-3">
      <%= f.input :picture %>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xl-6 offset-xl-3">
      <%= f.input :picture_cache, as: :hidden %>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xl-6 offset-xl-3">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>
