<div class="container text-center">
  <h1 class="form-heading">Where do you live?</h1>
  <%= form_for @user, url: wizard_path, method: :put do |f| %>
    <%= f.text_field :address, class: "form-input" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
